
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 205 11% 18%;
    --card: 0 0% 100%;
    --card-foreground: 205 11% 18%;
    --popover: 0 0% 100%;
    --popover-foreground: 205 11% 18%;
    --primary: 38 38% 73%;
    --primary-foreground: 205 11% 18%;
    --secondary: 37 45% 97%;
    --secondary-foreground: 205 11% 18%;
    --muted: 37 45% 97%;
    --muted-foreground: 205 11% 40%;
    --accent: 8 25% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 37 10% 90%;
    --input: 37 10% 90%;
    --ring: 38 38% 73%;
    --radius: 0.25rem;
  }

  * {
    @apply border-border;
  }
  
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground font-body antialiased selection:bg-primary/30;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
